.content-wrap {
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-left: 10%;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.left-content {
  width: 40%;
}
.left-content h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.left-content p {
  color: #fff;
  margin: 40px 0px;
  font-size: 18px;
  line-height: 24px;
}
.right-content {
  width: 60%;
  display: flex;
  gap: 20px;
}

.img-wrap {
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s ease;
}
.img-wrap:hover {
  border: 3px solid #eab403;
}
.left-btn,
.right-btn {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.left-btn:hover,
.right-btn:hover {
  color: #ffffff90;
}
.boking-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.active {
  border: 3px solid #eab403;
}
